.intro_textt {
  width: 100%;
  text-align: center;
}
.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.landingbutton {
  width: 200px;
  height: 55px;
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
}

.box {
  backdrop-filter: blur(4px);
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 5px;
}
